In [2]:
import os
import pandas as pd

## This notebook was used when identified fasle mathces and false rejects


Begin by loading the `.best` output.

In [3]:
#rankDf = pd.DataFrame.from_csv('rank.csv')
bestDf = pd.DataFrame.from_csv('rank.best')
bestLefDf = pd.DataFrame.from_csv('lfwrank.best')

### Add a the person columns

In [4]:
bestDf['targetPerson'] = bestDf.Target.str.split('-').str.get(0)
bestDf['queryPerson'] = bestDf.Query.str.split('-').str.get(0)
bestDf.head()

                     Target               Query targetPerson queryPerson
Value
6.53772  S093-02-t10_01.jpg  S093-01-t10_01.jpg         S093        S093
6.08326  S280-09-t10_01.jpg  S280-01-t10_01.jpg         S280        S280
5.91223  S414-04-t10_01.jpg  S414-05-t10_01.jpg         S414        S414
5.88248  S460-02-t10_01.jpg  S460-01-t10_01.jpg         S460        S460
5.85629  S489-01-t10_01.jpg  S489-02-t10_01.jpg         S489        S489

### Identify the pais with best comparesing score, but from differnet data subjects

In [10]:
bestDf[bestDf.targetPerson != bestDf.queryPerson].head(20)

                     Target               Query targetPerson queryPerson
Value
3.29081  S142-05-t10_01.jpg  S415-01-t10_01.jpg         S142        S415
3.26828  S034-01-t10_01.jpg  S036-03-t10_01.jpg         S034        S036
3.14606  S388-06-t10_01.jpg  S439-03-t10_01.jpg         S388        S439
3.12914  S103-01-t10_01.jpg  S273-03-t10_01.jpg         S103        S273
3.08316  S023-01-t10_01.jpg  S243-09-t10_01.jpg         S023        S243
3.01146  S420-04-t10_01.jpg  S243-02-t10_01.jpg         S420        S243
2.96434  S291-01-t10_01.jpg  S413-09-t10_01.jpg         S291        S413
2.82519  S037-01-t10_01.jpg  S418-01-t10_01.jpg         S037        S418
2.79513  S046-01-t10_01.jpg  S243-01-t10_01.jpg         S046        S243
2.78496  S032-02-t10_01.jpg  S415-04-t10_01.jpg         S032        S415
2.73907  S471-06-t10_01.jpg  S415-03-t10_01.jpg         S471        S415
2.71300  S124-02-t10_01.jpg  S402-02-t10_01.jpg         S124        S402
2.70142  S188-01-t10_01.jpg  S373-02-t10_01.jpg         S188        S373
2.69990  S076-02-t10_01.jpg  S388-13-t10_01.jpg         S076        S388
2.68105  S326-01-t10_01.jpg  S471-02-t10_01.jpg         S326        S471
2.66288  S224-01-t10_01.jpg  S096-01-t10_01.jpg         S224        S096
2.60140  S215-04-t10_01.jpg  S316-03-t10_01.jpg         S215        S316
2.58907  S476-01-t10_01.jpg  S419-07-t10_01.jpg         S476        S419
2.57463  S326-01-t10_01.jpg  S153-02-t10_01.jpg         S326        S153
2.55631  S202-02-t10_01.jpg  S288-02-t10_01.jpg         S202        S288

![S142](img/faslematch.jpg)

In [6]:
bestDf[bestDf.targetPerson == bestDf.queryPerson].tail(10)

                      Target               Query targetPerson queryPerson
Value
1.470930  S195-04-t10_01.jpg  S195-02-t10_01.jpg         S195        S195
1.402200  S499-01-t10_01.jpg  S499-06-t10_01.jpg         S499        S499
1.345370  S309-01-t10_01.jpg  S309-03-t10_01.jpg         S309        S309
1.345180  S405-04-t10_01.jpg  S405-07-t10_01.jpg         S405        S405
1.322360  S417-06-t10_01.jpg  S417-07-t10_01.jpg         S417        S417
1.296720  S439-05-t10_01.jpg  S439-01-t10_01.jpg         S439        S439
1.291510  S422-01-t10_01.jpg  S422-02-t10_01.jpg         S422        S422
1.237940  S190-01-t10_01.jpg  S190-02-t10_01.jpg         S190        S190
1.105770  S478-01-t10_01.jpg  S478-02-t10_01.jpg         S478        S478
0.940754  S433-04-t10_01.jpg  S433-05-t10_01.jpg         S433        S433

![Fasle Reject](img/falsereject.jpg)

In [26]:
bestLefDf.Target.unique()

array(['Scott_Wolf/Scott_Wolf_0002.jpg',
       'Sandra_Banning/Sandra_Banning_0001.jpg',
       'Ruth_Harlow/Ruth_Harlow_0001.jpg', ...,
       'Abid_Hamid_Mahmud_Al-Tikriti/Abid_Hamid_Mahmud_Al-Tikriti_0003.jpg',
       'Hillary_Clinton/Hillary_Clinton_0013.jpg',
       'Phil_Bredesen/Phil_Bredesen_0001.jpg'], dtype=object)

In [7]:
bestLefDf['TargetPerson'] = bestLefDf.Target.str.split('/').str.get(0)
bestLefDf['QueryPerson'] = bestLefDf.Query.str.split('/').str.get(0)
bestLefDf.head()

,Target,Query,TargetPerson,QueryPerson
Value,,,,
23.9268,Scott_Wolf/Scott_Wolf_0002.jpg,Scott_Wolf/Scott_Wolf_0002.jpg,Scott_Wolf,Scott_Wolf
23.9268,Sandra_Banning/Sandra_Banning_0001.jpg,Sandra_Banning/Sandra_Banning_0001.jpg,Sandra_Banning,Sandra_Banning
23.9268,Ruth_Harlow/Ruth_Harlow_0001.jpg,Ruth_Harlow/Ruth_Harlow_0001.jpg,Ruth_Harlow,Ruth_Harlow
23.9268,Roger_Corbett/Roger_Corbett_0001.jpg,Roger_Corbett/Roger_Corbett_0001.jpg,Roger_Corbett,Roger_Corbett
23.9268,Ringo_Starr/Ringo_Starr_0001.jpg,Ringo_Starr/Ringo_Starr_0001.jpg,Ringo_Starr,Ringo_Starr

In [8]:
bestLefDf[bestLefDf.TargetPerson != bestLefDf.QueryPerson].head()

,Target,Query,TargetPerson,QueryPerson
Value,,,,
2.73006,Julianne_Moore/Julianne_Moore_0016.jpg,Madonna/Madonna_0002.jpg,Julianne_Moore,Madonna
2.73001,Hans_Corell/Hans_Corell_0001.jpg,Mesut_Yilmaz/Mesut_Yilmaz_0001.jpg,Hans_Corell,Mesut_Yilmaz
2.68865,Beatrice_Dalle/Beatrice_Dalle_0001.jpg,David_Wells/David_Wells_0002.jpg,Beatrice_Dalle,David_Wells
2.66454,Bruce_Springsteen/Bruce_Springsteen_0003.jpg,Jean_Chretien/Jean_Chretien_0002.jpg,Bruce_Springsteen,Jean_Chretien
2.53632,Carol_Moseley_Braun/Carol_Moseley_Braun_0002.jpg,Alejandro_Toledo/Alejandro_Toledo_0023.jpg,Carol_Moseley_Braun,Alejandro_Toledo

In [9]:
bestLefDf[(bestLefDf.TargetPerson == bestLefDf.QueryPerson) & (bestLefDf.Target != bestLefDf.Query)].tail(10)

,Target,Query,TargetPerson,QueryPerson
Value,,,,
1.26213,Michael_Jordan/Michael_Jordan_0003.jpg,Michael_Jordan/Michael_Jordan_0001.jpg,Michael_Jordan,Michael_Jordan
1.26213,Michael_Jordan/Michael_Jordan_0003.jpg,Michael_Jordan/Michael_Jordan_0001.jpg,Michael_Jordan,Michael_Jordan
1.22881,George_Brumley/George_Brumley_0002.jpg,George_Brumley/George_Brumley_0001.jpg,George_Brumley,George_Brumley
1.22881,George_Brumley/George_Brumley_0002.jpg,George_Brumley/George_Brumley_0001.jpg,George_Brumley,George_Brumley
1.22881,George_Brumley/George_Brumley_0002.jpg,George_Brumley/George_Brumley_0001.jpg,George_Brumley,George_Brumley
1.21972,Hector_Babenco/Hector_Babenco_0003.jpg,Hector_Babenco/Hector_Babenco_0002.jpg,Hector_Babenco,Hector_Babenco
1.21972,Hector_Babenco/Hector_Babenco_0003.jpg,Hector_Babenco/Hector_Babenco_0002.jpg,Hector_Babenco,Hector_Babenco
1.20889,Anastasia_Myskina/Anastasia_Myskina_0002.jpg,Anastasia_Myskina/Anastasia_Myskina_0001.jpg,Anastasia_Myskina,Anastasia_Myskina
1.20889,Anastasia_Myskina/Anastasia_Myskina_0002.jpg,Anastasia_Myskina/Anastasia_Myskina_0001.jpg,Anastasia_Myskina,Anastasia_Myskina
1.19104,Lucio_Gutierrez/Lucio_Gutierrez_0007.jpg,Lucio_Gutierrez/Lucio_Gutierrez_0001.jpg,Lucio_Gutierrez,Lucio_Gutierrez